@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;}
  
  footer {
    margin-top: auto;} */

body {
  background-color: #f6f5f1;
  font-family: "Roboto", sans-serif;
}

:root {
  --bg-base: #f6f5f1;
  --bazarek-brown-dark: #412f22;
  --bazarek-yellow-main: #fcfe7f;
  --bazarek-green-main: #46aa42;
}

.Loader {
  color: #46AA42;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* position: center; */
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
.Loader::after {
  content: "";
  width: 5px;
  height: 5px;
  background: currentColor;
  position: absolute;
  bottom: 10px;
  right: -5px;
  box-sizing: border-box;
  animation: animloader 1s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 10px 0 #46AA42, 20px 0 rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 10px 0 #46AA42, 20px 0 #46AA42;
  }
}

.icon-button {
  color: white;
  background-color: black;
}
